<footer class="text-center">
  <div class="container p-4 pb-0">
    <a class="btn" href="https://github.com/RodrigoS2050" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
    <a
      class="btn"
      href="https://www.linkedin.com/in/rodrigo-silva-86044a224/"
      target="_blank"
      ><i class="bi bi-linkedin"></i
    ></a>
  </div>
  <p class="py-2 px-3">
    2023 <i class="bi bi-c-circle"></i> Desenvolvido por Rodrigo Silva | Projeto
    fictício sem fins comerciais.
  </p>
</footer>
