<app-header></app-header>
<main>
  <section class="banners banner-1 d-flex flex-column justify-content-center">
    <div class="banners-title bg-body-secondary text-center py-5 px-3">
      <h2 class="fw-bold">Sua pausa para desfrutar a vida.</h2>
      <p>
        Boas-vindas ao & Bistrô Serenatto! Um ambiente aconchegante e acolhedor
        para apreciar um bom café.
      </p>
    </div>
  </section>
  <app-cards></app-cards>
  <section class="banners banner-2 d-flex flex-column justify-content-center">
    <div class="banners-title bg-body-secondary text-center py-5 px-3">
      <h2 class="fw-bold">Portas abertas para todos os públicos.</h2>
      <p>
        Nosso espaço é aconchegante, pet friendly, preparado para receber
        crianças, pessoas com deficiência e ambiente para coworking.
      </p>
    </div>
  </section>
  <app-products></app-products>
  <section class="banners banner-3 d-flex flex-column justify-content-center">
    <div class="banners-title bg-body-secondary text-center py-5 px-3">
      <h2 class="fw-bold">Momentos especiais em cada xícara.</h2>
      <p>
        Desfrute de momentos únicos no Café & Bistrô Serenatto. Nossa equipe se
        dedica a proporcionar uma experiência memorável em um ambiente
        acolhedor.
      </p>
    </div>
  </section>
  <app-form></app-form>
</main>
<app-footer></app-footer>
