<section class="container py-4">
  <div class="row">
    <div class="col-10 col-xl-8 mx-auto">
      <div class="border border-2 rounded p-3">
        <h3 class="fw-bold p-3 text-center mb-3">Entre em contato!</h3>
        <form id="contact">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingUsername"
              placeholder="username"
            />
            <label for="floatingUsername">Nome</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingEmail"
              placeholder="name@example.com"
            />
            <label for="floatingEmail">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="floatingPhone"
              placeholder="phone"
            />
            <label for="floatingPhone">Telefone</label>
          </div>
          <select class="form-select mb-3" aria-label="Default select">
            <option selected>Preferência de contato:</option>
            <option value="1">WhatsApp</option>
            <option value="2">Email</option>
            <option value="3">Ligação</option>
          </select>
          <label for="level-satisfaction" class="form-label"
            >Nível de satisfação:</label
          >
          <input
            type="range"
            class="form-range input-range"
            id="level-satisfaction"
          />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Deseja receber novidades por email?
            </label>
          </div>
          <button type="button" class="btn light-btn w-100 fw-bold mt-3 py-3">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
